<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MonitorClient.Properties.Settings>
            <setting name="IPPort" serializeAs="String">
                <value>127.0.0.1:6379</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
        </MonitorClient.Properties.Settings>
    </applicationSettings>
</configuration>